/* Family tree container */
.chart-container {
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    position: relative;
    visibility: visible;
}

.chart-container.hidden {
    visibility: hidden;
    position: absolute;
}



/* Left and right buttons */
.nav-button {
    position: absolute;
    height: 80px;
    width: 80px; 
    border-radius: 35px;
    top: 45%;
    font-size: 22px;
    background-color: #003366;
    opacity: 80%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.nav-button img {
    width: 25px;
    height: 25px;
}

.nav-button:hover { 
    background: #00509e;
    outline: none;
}

.nav-button.left {
    right: 93%;
}

.nav-button.right {
    left: 93%;
}



/* Member info container */
.info-container {
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.info-container.visible {
    visibility: visible;
}