
/* form comprises the whole form */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 45px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 550px;
    margin: auto;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    position: relative;
}

/* all buttons inside form */
.form button{
    justify-content: center;
}

/* exit button */
.addmember-exit-button {
    margin-left: 20px;
    margin-top: 10px;
    border: 0px solid transparent;
    text-align: center;  
    line-height: 40px; 
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 3%;
    left: 1%;
    background: #003366;
    padding: 0px;
    width: 42px;  
    height: 42px;  
    border-radius: 50%;
    z-index: 5;
}

/*  */
.addmember-upload-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:26px;
    height:27px;
    margin-top: 10px;
}

/* whole div containing left hand side */
.addmember-upload-photo {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap:14px;
    margin-left: 10px;
}

/* btm */
.addmember-upload-btn {
    margin-top: 10px;
    font-size: 15px;
    padding: 0px;
    background: #edf0f2;
    color: #003366;
    border: none;
    border-radius: 25px;
    padding: 0 15px;
    height: 40px;
    font-weight: 700;

    display: inline-block;
    text-align: center;
    align-content: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    width: auto; 
    max-width: 200px; 
}

.addmember-upload-btn:hover {
    color: white;
    outline: none;
    background: #00509e;
}

/* right hand side */
.details {
    display: flex;
    flex-direction: column;
}

/* rhs labels */
.addmember-label {
    margin-top: 5px;
    margin-left: 12px;
    margin-bottom: 5px;
    color: #003366;
    font-size: 15px;
    font-weight: bold;
}

/* rhs inputs */
.addmember-input{
    margin-left: 10px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #edf0f2;
    padding: 10px;
    border:none;
    border-radius: 50px;
    color: #003366;
    font-weight: bolder;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    width: 410px !important;
    height: 30px !important;
    font-size: 18px;
}

.addmember-input:disabled {
    color: #e5e6e8;
    background-color: #003366;

}

.addmember-save-btn {
    background: #003366;
    color: white;
    border: none;
    font-size: 16px;
    padding: 0px;
    border-radius: 50px;
    width:140px;
    height:40px;
    margin: 0 auto;
    margin-top: 50px;
}

.addmember-save-btn:hover {
    background: #00509e;
    outline: none;
}
