.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(248, 248, 255, 0.527);
  }
  
  .header-title {
    font-size: 50px;
    font-weight: bold;
  }
  
  .header-title-blue {
    color: #00509e;
  }
  
  .header-login-btn {
    background: #003366;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
  }
  
  .header-login-btn:hover {
    background: #00509e;
    outline: none;
  }
  
  .header-login-btn img {
    width: 20px;
    height: 20px;
  }